<div class="row" ng-controller="PublicCtrl">
  <div class="col-md-12 col-md-offset-1">
    <blockquote class="row" ng-repeat="p in promises">
      <div class="col-md-12">
        I promised that I will {{p.name}}
        every {{p.frequency}}
        {{p.frequencyType}}
        for {{p.duration}}
        {{p.durationType}}
        since {{p.startTime | date:'dd-MM-yyyy'}}
        <span ng-show="p.chain > 1">
          and built the chain of {{p.chain - 1}} link<span ng-show="p.chain > 2">s</span>!
        </span>     
      <div class="col-md-12 col-md-offset-8">
        <br/>
        -- {{p.madeBy.name}}
      </div>


    </blockquote>

  </div>
</div>
<br/>
